<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link href="starter-template.css" rel="stylesheet">

<title>Book Realm</title>
<style>
.container {
	max-width: 460px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 50px;
}

.image-container img {
	width: 100%;
	height: auto;
	max-width: 100%;
}
</style>
<body>
	<nav th:replace="~{admin/navbar-admin.html :: navbarFragment-admin}"></nav>
	<div align="center" style="margin-top: 100px;">
		<h2 style="margin-top: 20px; font-weight: bold;">도서 수정</h2>
	</div>
	<div class="contents container">
		<div layout:fragment="content" class="container">
			<div class="my-3 border-bottom"></div>
			<form th:action="@{/admin/book/manage/edit}" method="post">
				<div class="mb-3 image-container"
					style="width: 100%; overflow: hidden;">
					<img th:src="${book.image}">
				</div>

				<div class="mb-3" style="margin-top: 30px;">
					<label for="bookName" class="form-label">도서명</label>
					<input type="text" name="title" th:value="${book.title}" class="form-control">
				</div>
				<div class="mb-3">
					<label for="ISBN" class="form-label">ISBN</label>
					<input type="text" name="isbn" th:value="${book.isbn}" class="form-control">
				</div>
				<div class="mb-3">
					<label for="writer" class="form-label">저자</label>
					<input type="text" name="writer" th:value="${book.writer}" class="form-control">
				</div>
				<div class="mb-3">
					<label for="publisher" class="form-label">출판사</label>
					<input type="text" name="publisher" th:value="${book.publisher}" class="form-control">
				</div>
				<div class="mb-3">
					<label for="publishDate" class="form-label">출간일</label>
					<input type="date" name="publishDate" th:value="${book.publishDate}" class="form-control">
				</div>
				<div class="mb-3">
					<label for="price" class="form-label">가격</label>
					<input type="text" name="price" th:value="${book.price}" class="form-control">
				</div>
				<div class="mb-3">
					<label for="stock" class="form-label">재고</label>
					<input type="number" name="stock" th:value="${book.stock}" th:min="0" class="form-control">
				</div>
				<div class="mb-3">
					<label for="sales" class="form-label">판매수량</label>
					<input type="number" name="sales" th:value="${book.sales}" min="0" th:max="${book.stock}" class="form-control">
				</div>
				<input type="hidden" name="id" th:value="${book.id}"> 
				<input type="hidden" name="category" th:value="${book.category}"> 
				<input type="hidden" name="description" th:value="${book.description}">
				<input type="hidden" name="image" th:value="${book.image}">
				<div class="text-center">
					<button type="submit" class="btn btn-primary"  style="margin-top: 20px;">저장</button>
				</div>
			</form>
		</div>
	</div>
</body>
</head>
</html>