<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<style>
  body {
    max-width: 100%;
    margin: 20px;
  }
  td {
    padding: 10px;
    text-align: center;
  }
</style>
<body>
  <h2>회원 관리</h2>

<table border="1" width="90%">

  <tr>
    <th width="10%">이름</th>
    <th width="15%">Email</th>
    <th width="25%">주소</th>
    <th width="20%">연락처</th>
    <th width="10%">관리자권한</th>
    <th width="10%"></th>
    <th width="10%"></th>
  </tr>

  <tr th:each="member: ${members}">
    <td th:text="${member.username}"></td>
    <td th:text="${member.email}"></td>
    <td th:text="${member.address.address} + ' ' + ${member.address.detailAddress} + ' ' + ${member.address.extraAddress}"></td>
    <td th:text="${member.phone}"></td>
    <td th:text="${member.role}"></td>
    <td><button type="button" style="display: inline-block" th:onclick="|location.href='@{/admin/member/manage(id=${member.id})}'|">수정/주문관리</button></td>
    <td><button type="button" style="display: inline-block" th:onclick="|onClickDelete(${member.id})|">삭제</button></td>
  </tr>
</table>
</body>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script th:inline="javascript">
  function onClickDelete(id) {
    if(confirm("정말 삭제하시겠습니까?")){
      $.ajax({
        type : "POST",
        url : "/admin/member/delete",
        data : {"id": id},
        beforeSend: function (jqXHR, settings) {
          var header = $("meta[name='_csrf_header']").attr("content");
          var token = $("meta[name='_csrf']").attr("content");
          jqXHR.setRequestHeader(header, token);
        },
        success : function(data) {
          alert("삭제가 완료되었습니다.");
          location.reload();
        },
        error : function(e) {
          alert("삭제 실패");
        }
      });
    }
  }
</script>
</html>