<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Review Form</title>
</head>
<body>

<h2>Add Review Form</h2>

<form action="/add-review" method="post">
    <label for="contents">Contents:</label>
    <textarea id="contents" name="contents" required></textarea>

    <br/>

    <label for="popular">Popular:</label>
    <select id="popular" name="popular" required>
        <option value="1">★</option>
        <option value="2">★★</option>
        <option value="3">★★★</option>
        <option value="4">★★★★</option>
        <option value="5">★★★★★</option>
    </select>
    <br/>

    <button type="submit">Submit</button>
</form>

</body>
</html>
