<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Book Realm</title>
<style>
body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

h1 {
	color: #333;
}

table {
	width: 100%;
	/* 표(table)의 테두리와 셀(td)의 테두리 사이의 간격 제거, 
	겹치는 부분은 한 줄로 나타냄 */
	border-collapse: collapse;
	margin-top: 20px;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}
</style>
</head>
<body>

	<h1>Book Realm</h1>
	<!-- <a th:href="@{/test/books}"><img class="logo" src="BookRealm_logo.png" alt="" width="50" height="50"></a> -->
	<br />
	
	<h2>Book Detail</h2>

    <div>

    <!-- 도서 정보 표시 -->
    <p>ID: <span th:text="${book.id}"></span></p>
    <img th:if="${book.image != null}" th:src="${book.image}" alt="Book Image">
    <p>Title: <span th:text="${book.title}"></span></p>
    <p>Writer: <span th:text="${book.writer}"></span></p>
    <p>Category: <span th:text="${book.category}"></span></p>
    <p>Price: <span th:text="${book.price}"></span></p>
    <p>Publisher: <span th:text="${book.publisher}"></span></p>
    <p>PublishDate: <span th:text="${book.publishDate}"></span></p>
    <p>Stock: <span th:text="${book.stock}"></span></p>
    <p>Sales: <span th:text="${book.sales}"></span></p>
    <p>Description: <span th:text="${book.description}"></span></p>
    </div>

</body>
</html>