<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Book Realm</title>
<style>
body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

h1 {
	color: #333;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

div {
	width: 100%;
	display: inline-block;
}
</style>
</head>
<body>
	
	<div>
	<a th:href="@{/book}"><img src="https://i.ibb.co/rpKj9X9/Book-Realm-logo-ver2.png" alt="Book-Realm-logo-ver2" border="0" width="60" style="float:left; margin-bottom:50px;"></a>
	
		<button type="login" class="btn" style="float:right; margin-left:10px;">로그인</button>	
		<button type="register" class="btn" style="float:right; margin-left:30px;">회원가입</button>
		<form th:action="@{/book/search}" method="get" style="float:right;">
			<label for="searchTerm">도서 검색</label> <input type="text" id="searchTerm" name="term" placeholder="Input Book Title or Writer" required>
			<button type="submit">검색</button>
		</form>
		
	</div>	
	
	<h1>Book Detail</h1>

    <div>

    <!-- 도서 정보 표시 -->
    <p>ID: <span th:text="${book.id}"></span></p>
    <img th:if="${book.image != null}" th:src="${book.image}" alt="Book Image">
    <p>Title: <span th:text="${book.title}"></span></p>
    <p>Writer: <span th:text="${book.writer}"></span></p>
    <p>Category: <span th:text="${book.category}"></span></p>
    <p>Price: <span th:text="${book.price}"></span></p>
    <p>Publisher: <span th:text="${book.publisher}"></span></p>
    <p>PublishDate: <span th:text="${book.publishDate}"></span></p>
    <p>Stock: <span th:text="${book.stock}"></span></p>
    <p>Sales: <span th:text="${book.sales}"></span></p>
    <p>Description: <span th:text="${book.description}"></span></p>
    </div>

</body>
</html>