<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="starter-template.css" rel="stylesheet">

<title>Book Realm</title>
<style>
body {
	font-family: Arial, sans-serif;
	margin-left: 20px;
	margin-right: 20px;
}

h1 {
	color: #333;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

div {
	width: 100%;
	display: inline-block;
}

</style>
</head>
<body>

	<nav th:fragment="navbarFragment"
		class="navbar navbar-expand-lg
    navbar-light bg-light border-bottom justify-content-space-between d-flex" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" style="margin-bottom: 50px;">
		<div class="container-fluid align-items-center">
			<a th:href="@{/}"><img
				src="https://i.ibb.co/rpKj9X9/Book-Realm-logo-ver2.png" alt="Book-Realm-logo-ver2" border="0" width="60"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
					<li class="nav-item">
						<form th:action="@{/bookSearch}" method="get" class="text-center">
							<label for="searchTerm">도서 검색</label> <input type="text" id="searchTerm" name="term" placeholder="Input Book Title or Writer" required>
							<button type="submit" class="btn btn-secondary">검색</button>
						</form>
					</li>
					<li class="nav-item">
						<div class="text-right">
							<a class="btn btn-primary" sec:authorize="isAnonymous()" th:href="@{/login}" style="margin-left: 10px;">로그인</a> 
							<a class="btn btn-primary" sec:authorize="isAuthenticated()" th:href="@{/logout}" style="margin-left: 10px;">로그아웃</a>
						</div>
					</li>
					<li class="nav-item">
						<div class="text-right">
							<a class="btn btn-primary" sec:authorize="isAnonymous()" th:href="@{/join}" style="margin-left: 10px;">회원가입</a>
							<a class="btn btn-primary" sec:authorize="isAuthenticated()" th:href="@{/myPage}" style="margin-left: 10px;">마이페이지</a>
						</div>
					</li>

				</ul>
			</div>
		</div>
	</nav>	
	
	<h1>Book Detail</h1>

    <div>

    <!-- 도서 정보 표시 -->
    <img th:if="${book.image != null}" th:src="${book.image}" alt="Book Image">
    <p>Title: <span th:text="${book.title}"></span></p>
    <p>Writer: <span th:text="${book.writer}"></span></p>
    <p>Category: <span th:text="${book.category}"></span></p>
    <p>Price: <span th:text="${book.price}"></span></p>
    <p>Publisher: <span th:text="${book.publisher}"></span></p>
    <p>PublishDate: <span th:text="${book.publishDate}"></span></p>
    <p>Stock: <span th:text="${book.stock}"></span></p>
    <p>Description: <span th:text="${book.description}"></span></p>
    </div>

	<div class="my-3  text-left">
    	<form th:action="@{/cart/add/{bookId}(bookId=${book.id})}" method="post" style="display: inline;"  
    		th:if="${#authorization.expression('isAuthenticated')}">
        	<button type="submit" class="btn btn-outline-primary me-auto mb-2 mb-lg-0" style="margin-right: 10px;">장바구니</button>
    	</form>
    	<button type="button" class="btn btn-primary me-auto mb-2 mb-lg-0">바로구매</button>
	</div>



</body>
</html>