<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom justify-content-space-between d-flex" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" style="margin-bottom: 50px;">
	  <div class="container-fluid align-items-center">
    	<a th:href="@{/}" style="margin-right: 30px;"><img src="https://i.ibb.co/rpKj9X9/Book-Realm-logo-ver2.png" alt="Book-Realm-logo-ver2" border="0" width="60"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                   <form th:action="@{/bookSearch}" method="get" class="form-inline">
                      <label for="searchTerm"  class="mr-sm-2">도서 검색</label> 
                      <input class="form-control mr-sm-2" type="text" id="searchTerm" name="term" placeholder="도서 제목이나 작가 입력" required>
                      <button type="submit" class="btn btn-outline-success my-2 my-sm-0">검색</button>
                   </form>
                </li>
            </ul>    
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
                <li class="nav-item">
                   <div class="text-right">
                      <a sec:authorize="isAuthenticated()" th:href="@{/cart/add}">
                      <span class="material-icons" style="color: black;">shopping_bag</span></a>
                   </div>
                </li>
                <li class="nav-item">
                   <div class="text-right" sec:authorize="hasRole('ROLE_ADMIN')">
                      <a class="btn btn-primary" sec:authorize="isAuthenticated()" th:href="@{/admin}" style="margin-left: 10px;">관리자페이지</a>
                   </div>
                </li>
                <li class="nav-item">
                   <div class="text-right">
                      <a class="btn btn-primary" sec:authorize="isAnonymous()" th:href="@{/login}" style="margin-left: 10px;">로그인</a>
                      <a class="btn btn-primary" sec:authorize="isAuthenticated()" th:href="@{/logout}" style="margin-left: 10px;">로그아웃</a>
                   </div>
                </li>
                <li class="nav-item">
                	<div class="text-right">
                    	<a class="btn btn-primary" sec:authorize="isAnonymous()" th:href="@{/join}" style="margin-left: 10px;">회원가입</a>
						<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" 
								onclick="ok()" sec:authorize="isAuthenticated()" style="margin-left: 10px;">마이페이지</button>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item"  th:href="@{/myPage}">회원정보수정</a></li>
								<li><a class="dropdown-item" href="/myPage/myOrders">주문내역</a></li>
								<li><a class="dropdown-item" href="/myPage/myReview">리뷰보기</a></li>
							</ul>
						</div>
					</div>
                </li>
        	</ul>
    	</div>
	</div>
</nav>